@import "../../Desktop.css";
/* == Custom Override Setting ==*/
.Global_Executable_Setting {

    &#Note_Executable {
        /* Note Icon Position */
        position: absolute;
        top: 275px;
        left: 25px;
    }
}

.Global_App_Setting {
    /* Note App Font */
    color: white;
    font-family: var(--font-family-Consolas), sans-serif;

    &#Note_App {
        /* == Note Setting == */
        /* Note App Display Position  */
        position: absolute;
        top: 25%;
        left: 20%;

        /* Note App Size */
        width: 800px; min-width: 720px;
        height: 700px; min-height: 500px;
    }

    .Note_Display {
        display: grid !important;
        grid-template-columns: 200px 3fr;
        grid-template-rows: 1fr;
        grid-column-gap: 1em;

        width: 100%;
        height: 100%;

        overflow-x: hidden;
        overflow-y: scroll;
    }


    .sidebar {
        border: 2px solid var(--color-green-3);
    }

    .content {
        border: 2px solid var(--color-yellow-3);
    }

}
