@import "../../Desktop.css";
/* == Custom Override Setting ==*/
.Global_Executable_Setting {

    &#Note_Executable {
        /* Note Icon Position */
        position: absolute;
        top: 275px;
        left: 25px;
    }
}

.Global_App_Setting {
    /* Note App Font */
    color: white;
    font-family: var(--font-family-Consolas), sans-serif;

    &#Note_App {
        /* == Note Setting == */
        /* Note App Display Position  */
        position: absolute;
        top: 25%;
        left: 20%;

        /* Note App Size */
        width: 800px; min-width: 720px;
        height: 700px; min-height: 500px;
    }
}

<<<<<<< HEAD:src/application/Note/Note.css
    .Note_Display {
        display: grid !important;
        grid-template-columns: 200px 3fr;
        grid-template-rows: 1fr;
        grid-column-gap: 1em;
=======
.Note_Display {
    display: grid !important;
    grid-column: 3 !important;
    grid-row: 2 !important;
>>>>>>> parent of a8a054f (changed selector priority position):src/component/Note/Note.css

    width: 100%;
    height: 100%;

<<<<<<< HEAD:src/application/Note/Note.css
        overflow-x: hidden;
        overflow-y: scroll;
=======
    background-color: var(--color-white-10);

    .sidebar {
        background: var(--color-yellow-1)
    }

    .content {
        background-color: var(--color-green-1);
>>>>>>> parent of a8a054f (changed selector priority position):src/component/Note/Note.css
    }


    .sidebar {
        border: 2px solid var(--color-green-3);
    }

    .content {
        border: 2px solid var(--color-yellow-3);
    }

}
