@import "../../Desktop.css";
/* == Custom Override Setting ==*/
#Global_Executable_Setting {

    &.Introduction_Executable {
        /* Introduction Icon Position */
        position: absolute;
        top: 25px;
        left: 25px;
    }
}

#Global_App_Setting {
    /* Introduction App Font */
    color: white;
    font-family: var(--font-family-Consolas), sans-serif;

    &.Introduction_App {
        /* == Introduction Setting == */
        /* Introduction App Display Position  */
        position: absolute;
        top: 25%;
        left: 20%;

        /* Introduction App Size */
        width: 720px;
        min-width: 420px;
        height: 500px;
        min-height: 200px;
    }
}

/* == Introduction Context Style == */
.wrapper_pfp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 1em;

    img {
        width: 150px;
        border-radius: 4px;
    }

    h2 {
        font-family: var(--font-family-Stretch_Pro), sans-serif;
    }
}

.wrapper_paragraph {
    p {
        line-height: 1.5;
        margin-bottom: 1em;
    }
}

.wrapper_links {
    display: flex;
    justify-content: center;

    overflow: hidden;

    font-size: var(--font-size-small);

    padding: 8px 0 8px 0;

    a {
        padding: 0.5em;
        border: 2px solid var(--application-accent-color);

        transition: background-color 0.2s ease 0s,
        scale 0.2s ease 0s,
        color 0.2s ease 0s;
    }

    a:hover {
        color: black;
        scale: 1.5;
    }

    a:visited {
        color: blue;
    }
}