@import "../../Desktop.css";
/* == Custom Override Setting ==*/
#Global_Icon_Setting {
    /* Introduction Icon Position */
    position: absolute;
    top: 25px;
    left: 25px;
}

#Global_App_Setting {
    /* Introduction App Font */
    color: white;
    font-family: var(--font-family-Consolas), sans-serif;

    /* Introduction App Position */
    &.Introduction_App {
        /* == Introduction Setting == */
        /* Introduction App Display Position  */
        position: absolute;
        top: 10%;
        left: 25%;
    }

    /* Introduction App Size */
    .Introduction_Display {
        width: 720px;
        min-width: 400px;
        height: 500px;
        min-height: 200px;
    }
}

/* == Introduction Context Style == */
.container_pfp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 1em;

    img {
        width: 150px;
        border-radius: 4px;
    }

    h2 {
        font-family: var(--font-family-Stretch_Pro), sans-serif;
    }
}

.container_paragraph {
    p {
        margin-bottom: 1em;
    }
}

.container_links {
    display: flex;
    justify-content: center;

    overflow: hidden;

    font-size: var(--font-size-small);

    padding: 8px 0 8px 0;

    a {
        transition: background-color 0.2s ease 0s,
        scale 0.2s ease 0s,
        color 0.2s ease 0s;

        padding: 0.5em;
        border: 2px solid var(--border-color);
    }

    a:hover {
        color: black;
        scale: 1.5;
        background-color: var(--border-color)
    }

    a:visited {
        color: blue;
    }
}