.Global_App_Setting {
    /* == Transition From Open, Close, Minimize and Maximize Action == */
    --transition-time-control-status: 150ms;
    --transition-time-state: 150ms;

    opacity: 0;

    /* Control Status */
    &[app-control-status="OPEN"] {
        opacity: 1;
        scale: 1;
        translate: 0 0;
        pointer-events: auto;

        transform-origin: bottom left;
        transition:
            opacity var(--transition-time-control-status) ease,
            scale var(--transition-time-control-status) ease,
            translate var(--transition-time-control-status) ease;
    }

    &[app-control-status="CLOSE"] {
        opacity: 0;
        scale: 0.2;
        translate: 0 0;
        pointer-events: auto;

        transform-origin: center center;
        transition:
            opacity var(--transition-time-control-status) ease,
            scale var(--transition-time-control-status) ease,
            translate var(--transition-time-control-status) ease;
    }

    &[app-control-status="MINIMIZE"] {
        opacity: 0;
        scale: 0.2;
        translate: 0 150%;
        pointer-events: none;

        transform-origin: bottom left;
        transition:
            opacity var(--transition-time-control-status) ease,
            scale var(--transition-time-control-status) ease,
            translate var(--transition-time-control-status) ease;
    }

    /* App State */
    &.STATE_TRANSITION {
        transition:
            width var(--transition-time-state) ease,
            height var(--transition-time-state) ease,
            top var(--transition-time-state) ease,
            left var(--transition-time-state) ease;
    }

    &[app-control-state="MAXIMIZE"],
    &[app-control-state="ORIGINAL"] {
        pointer-events: auto;
    }
}