#Global_App_Setting {
    /* == Transition From Open, Close, Minimize and Maximize Action == */
    opacity: 0;
    transform-origin: bottom left;

    /* Control Status */
    &[app-control-status="OPEN"] {
        opacity: 1;
        scale: 1;
        translate: 0 0;
        pointer-events: auto;

        transition:
                opacity 100ms ease,
                scale 100ms ease,
                translate 100ms ease;
    }

    &[app-control-status="CLOSE"] {
        opacity: 0;
        scale: 0.2;
        translate: 0 0;
        pointer-events: auto;

        transition:
                opacity 100ms ease,
                scale 100ms ease,
                translate 100ms ease;
    }

    &[app-control-status="MINIMIZE"] {
        opacity: 0;
        scale: 0.2;
        translate: 0 100%;
        pointer-events: none;

        transition:
                opacity 200ms ease,
                scale 200ms ease,
                translate 200ms ease ;
    }

    /* App State */
    &.STATE_TRANSITION {
        transition:
                width 200ms ease,
                height 200ms ease,
                top 200ms ease,
                left 200ms ease;
    }

    &[app-control-state="MAXIMIZE"],
    &[app-control-state="ORIGINAL"] {
        pointer-events: auto;
    }
}