@import "../../Desktop.css";
/* == Custom Override Setting ==*/
#Global_Executable_Setting {

    &.Note_Executable {
        /* Note Icon Position */
        position: absolute;
        top: 275px;
        left: 25px;
    }
}

#Global_App_Setting {
    /* Note App Font */
    color: white;
    font-family: var(--font-family-Consolas), sans-serif;

    &.Note_App {
        /* == Note Setting == */
        /* Note App Display Position  */
        position: absolute;
        top: 25%;
        left: 20%;

        /* Note App Size */
        width: 720px;
        min-width: 420px;
        height: 500px;
        min-height: 200px;
    }
}