@import "style/color.css";
@import "style/font.css";
@import "style/reset.css";
@import "style/application.css";
@import "style/executable.css";

:root {
    overflow: hidden;
}

.Desktop-Container {
    width: 100vw;
    height: 100vh;
    z-index: 0;

    background-color: black;
    background-image: url(../public/Assets/Image/Backgrounds/ARC_1080P.png);
    background-size: cover;
}

