@import url(reset.css);

@font-face {
    font-family: "Stretch Pro";
    src: url("Assets/Font/StretchPro.otf") format("opentype");
}

@font-face {
    font-family: "Angora";
    src: url("Assets/Font/Angora.otf") format("opentype");
}